.our-menu-section {
    background-image: url('../../../assets/food-menu/menu-dark-bg1.png');
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(216, 216, 216, 0.137);
}
.caveat-font {
    font-family: Caveat;
}

/* Menu item Hover */
.menu-item-hover:hover .menu-item-title{
    color: #FE5D26;
    transition: 0.3s;
}
.menu-item-hover:hover {
    cursor: pointer;
    transition: 0.3s;
}