.input:focus{
    outline: none !important;
    border-color: #212789;
}
.textarea:focus {
    outline: none !important;
    border-color: #212789;
}
input::placeholder {
    font-weight: 300;
    font-size: 16px;
}
.textarea::placeholder {
    font-weight: 300;
    font-size: 16px;
}