@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Geologica:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family:'Geologica', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* Active text color */
.active {
  color: #FE5D26;
}
/* background */
.btn-bg-primary {
  background-color: #FE5D26;
}
.bg-primary {
  background-color: #FE5D26;
}
.bg-secondary {
  background-color: #212789;
}
/* Text color */
.text-primary {
  color: #FE5D26;
}
.text-secondary {
  color: #212789;
}

/* border */

.border-primary {
  border-color: #FE5D26;
}