.mySwiper {
    padding-top: 100px;
}
.swiper-button-next:after {
    font-size: 25px;
    font-weight: 800;
    color: #FE5D26;
}
.swiper-button-prev:after {
    font-size: 25px;
    color: #FE5D26;
}
.swiper-button-next {
    top: 30px;
    background-color: white;
    border: 1px solid #FE5D26;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.swiper-button-prev {
    top: 30px;
    right: 100px;
    left: auto;
    background-color: white;
    border: 1px solid #FE5D26;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
@media screen and (max-width: 576px) {
    .mySwiper {
        padding-top: 0px;
        padding-bottom: 80px;
    }
    .swiper-button-next:after {
        font-size: 20px;
    }
    .swiper-button-prev:after {
        font-size: 20px;
    }
    .swiper-button-next {
        top: auto;
        bottom: 20px;
        width: 50px;
        height: 50px;
    }
    .swiper-button-prev {
        top: auto;
        right: 70px;
        bottom: 20px;
        width: 50px;
        height: 50px;
    }
}
.slider-item-wrap {
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 30px;
    margin-right: 10px;
    background-color: var(--white-color);
    transition: all ease 0.4s;
}
.slider-item-wrap::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.05);
    z-index: -1;
    transition: all ease 0.4s;
}
.slider-img-wrap {
    overflow: hidden;
}
.slider-title {
    font-size: 28px;
    line-height: 36px;
}
.service-round-btn {
     transition: all ease 0.4s;
}
.service-learn-btn {
    opacity: 0;
    left: 70px;
    bottom: -30px;
    transition: all ease 0.4s;
}
/* Hover  */
.slider-item-wrap:hover {
    border-color: #FE5D26;
}
.slider-item-wrap:hover:after {
    border-color: #FE5D26;
}
.slider-img {
    transition: all ease 0.4s;
}
.slider-img:hover {
    transform: scale(1.1);
}
.slider-item-wrap:hover .service-learn-btn{
    opacity: 1;
    left: 56px;
    bottom: -30px;
}
.slider-item-wrap:hover .service-round-btn {
    opacity: 0;
}